.noticeAdd{
  width:100%;
  box-sizing: border-box;
  padding: 30px 150px 30px  0;
  background-color: #fff;
}

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}